.fas{
    color: aliceblue;
}
ul{
    list-style: none;
    text-align: justify;
}
li{
    border-bottom: 1px rgb(196, 194, 194) solid;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
} 
img{
    width: 100px;
    height: 100px;
}
.fiveDayCard{
    padding: 20px;
    /* align-items: center; */
}

